<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="main">
        <input class ="login-input" id="id" name="id" type="text" placeholder="ID"/> <br>
        <input class="login-input" id="passwd" name="passwd" type="password" placeholder="password"/> <br>
        <input type="submit" value="login" id="login">
        <input type="submit" value="sign up" id="sign-up">
    </form>
    <script src="./index_func.js"></script>
</body>
</html>