<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>
<body>
    <h1>Sign up</h1>
    <form id="signup">
        <input type="text" name="id" id="id" placeholder="ID"> <br>
        <input type="password" name="passwd1" id="passwd1" placeholder="password"> <br>
        <input type="password" name="passwd2" id="passwd2" placeholder="password"> <br>
        <input type="submit" id="sign-button" value="sign up">
        <input type="submit" id="main-page" value="main page">
    </form>
    <script src="./signup.js"></script>
</body>
</html>